<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Civic Elevator Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>

      // Your Javascript code goes here...

    </script>
  </head>

  <body>
    <div id="content">
      <h1>Weather Alerts</h1>

      <p>Pick a state</p>
      <form action="">
        <select id="state">
          <option value="IL">Illinois</option>
          <option value="NY">New York</option>
          <option value="CA">California</option>
        </select>
      </form>

      <div id="alerts">

        <!-- The following commented element is an example of how the data may be displayed -->
        <!-- <div class="alert">
          <table>
            <thead>
              <tr>
                <th>
                  Key
                </th>
                <th>
                  Value
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  ID
                </td>
                <td>
                  https://api.weather.gov/alerts/NWS-IDP-PROD-4410821-3676310
                </td>
              </tr>
              <tr>
                <td>
                  Effective
                </td>
                <td>
                  2020-08-25T15:13:00-05:00
                </td>
              </tr>

              <tr>
                <td>
                  Expires
                </td>
                <td>
                  2020-08-25T19:00:00-05:00
                </td>
              </tr>
              <tr>
                <td>
                  Headline
                </td>
                <td>
                  Hydrologic Outlook issued August 25 at 2:56PM CDT by NWS Paducah KY
                </td>
              </tr>
              <tr>
                <td>
                  Description
                </td>
                <td>
                  All eyes are on Laura in the Gulf, as she is forecast to landfall
near the Louisiana and Texas border area Wednesday night. We'll
then see her tropical remnants move toward us, with the best
chance of her heaviest rains incoming during the Thursday night
through Friday night, into early Saturday, time period.

Current storm total rainfall projections suggest we could get
localized 3 plus inches broadly across our south by this weekend,
with lesser amounts ranging north. Keep in mind that locally
heavier rains could occur, especially given the tropical nature of
this system. Flooding issues may result.

In addition, there is a lot of question to the forecast beyond
Laura's departure this weekend. Still lingering high humidity
means that daily storm pop ups remain in the forecast, and they
will include the chance for locally heavy rainfall. Another inch
or two on top of Laura's predecessor rains, will only heighten or
aggravate any potential flooding issues.

Plan accordingly for this late week wet period, and keep an eye on
rising waters and travel routes with this heavy rain impact hazard
included in your plans.
                </td>
              </tr>

            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </body>
</html>